.agentTake {
    margin-bottom: 50px;
    height: 100vh;
    #enterForm {
        input {
            margin: 10px 0;
        }
        #id_byWhom {
            margin: 0 0 10px 0;
        }
    }
    #payAgentForm {
        input {
            margin: 20px 0;
        }
    }
    .outTotalAgent {
        position: sticky;
        bottom: 30px;
        overflow-x: auto;
        .TotalAgentTabel {
            width: 900px;
        }
    }
}
@media (max-width: 1188px) {
    .agentTake {
        .outAgentTabel {
            overflow-x: auto;
            padding: 0 2px;
        }
        .agentTabel {
            width: 1128px;
        }
    }
}
