.editAgent {
    margin-top: 60px;
    #enterForm {
        label {
            margin: 5px;
        }
    }
    .card {
        padding: 20px;
        #totalLend {
            text-align: right;
        }
    }
}
