.editHome {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .card {
        max-width: 500px;
        form {
            input {
                margin: 10px 0;
            }
        }
    }
}
