$bg-color: #e5e5e5;
@font-face {
    font-family: "Roboto-Black";
    src: url("../Roboto/Roboto-Black.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto-Black", sans-serif;
    background-color: #fafafa;
    position: relative;
}
.containerCustom {
    margin: 0 30px;
    position: relative;
}
.toBottom {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #343a40ec;
    color: #fafafa;
    position: fixed;
    bottom: -40px;
    right: 20px;
    font-weight: 900;
    font-size: 18px;
    border-radius: 30%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
    border: 1px solid #fafafa;
    &:hover {
        background-color: #343a40d8;
        color: #fafafa;
    }
}
// mask
.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    mask: {
        position: center center;
        size: 90%;
        repeat: no-repeat;
    }
    -webkit-mask: {
        position: center center;
        size: 90%;
        repeat: no-repeat;
    }
}
.bd-green {
    color: #198754;
}
@import "nav";
@import "homePage";
@import "editHome";
@import "basePage";
@import "editPage";
@import "agentTake";
@import "editAgent";
@import "paidToAgent";
@import "realBaza";
@import "footer";
